openapi: 3.0.1
info:
  title: Workflows API
  description: A RESTful service for commonly used workflows.
  version: v1
servers:
  - url: https://api.thetradedesk.com/workflows
    description: The Trade Desk Workflows API
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes: 
    - 5XX
  retryConnectionErrors: true
paths:
  /campaign:
    post:
      tags:
        - Campaign
      summary: Create a new campaign with required fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreateWorkflowInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignPayload'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  '/campaign/{id}/version':
    get:
      tags:
        - Campaign
      summary: GET a campaign's version
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignVersionWorkflow'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
  /graphql:
    post:
      tags:
        - GraphQL
      summary: An endpoint that executes valid GraphQL queries.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQLQueryInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable
  /seed:
    post:
      tags:
        - Seed
      summary: Create a new seed with required fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeedCreationInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Seed'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    AdGroupAdvancedSettingsInput:
      type: object
      properties:
        flights:
          type: array
          items:
            $ref: '#/components/schemas/AdGroupFlightInput'
          nullable: true
        koaOptimizationSettings:
          $ref: '#/components/schemas/AdGroupKoaOptimizationSettingsInput'
        comscoreSettings:
          $ref: '#/components/schemas/AdGroupComscoreSettingsInput'
        contractTargeting:
          $ref: '#/components/schemas/AdGroupContractTargetingInput'
        dimensionalBiddingAutoOptimizationSettings:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/DimensionalBiddingDimensions'
          nullable: true
        isUseClicksAsConversionsEnabled:
          type: boolean
          nullable: true
        isUseSecondaryConversionsEnabled:
          type: boolean
          nullable: true
        nielsenTrackingAttributes:
          $ref: '#/components/schemas/AdGroupNielsenTrackingAttributesInput'
        newFrequencyConfigs:
          type: array
          items:
            $ref: '#/components/schemas/AdGroupNewFrequencyConfigInput'
          nullable: true
      additionalProperties: false
    AdGroupAssociateBidList:
      required:
        - bidListId
        - isDefaultForDimension
        - isEnabled
      type: object
      properties:
        bidListId:
          minLength: 1
          type: string
        isEnabled:
          type: boolean
        isDefaultForDimension:
          type: boolean
      additionalProperties: false
    AdGroupAssociateBidListInput:
      required:
        - bidListId
      type: object
      properties:
        bidListId:
          minLength: 1
          type: string
        isEnabled:
          type: boolean
          nullable: true
        isDefaultForDimension:
          type: boolean
          nullable: true
      additionalProperties: false
    AdGroupAudienceTargeting:
      required:
        - audienceAcceleratorExclusionsEnabled
        - audienceBoosterEnabled
        - audienceExcluderEnabled
        - audiencePredictorEnabled
        - crossDeviceVendorListForAudience
        - recencyExclusionWindowInMinutes
        - targetTrackableUsersEnabled
        - useMcIdAsPrimary
      type: object
      properties:
        audienceId:
          type: string
          nullable: true
        audienceAcceleratorExclusionsEnabled:
          type: boolean
        audienceBoosterEnabled:
          type: boolean
        audienceExcluderEnabled:
          type: boolean
        audiencePredictorEnabled:
          type: boolean
        crossDeviceVendorListForAudience:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        recencyExclusionWindowInMinutes:
          type: integer
          format: int32
        targetTrackableUsersEnabled:
          type: boolean
        useMcIdAsPrimary:
          type: boolean
      additionalProperties: false
    AdGroupAudienceTargetingInput:
      type: object
      properties:
        audienceId:
          type: string
          nullable: true
        audienceAcceleratorExclusionsEnabled:
          type: boolean
          nullable: true
        audienceBoosterEnabled:
          type: boolean
          nullable: true
        audienceExcluderEnabled:
          type: boolean
          nullable: true
        audiencePredictorEnabled:
          type: boolean
          nullable: true
        crossDeviceVendorListForAudience:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        recencyExclusionWindowInMinutes:
          type: integer
          format: int32
          nullable: true
        targetTrackableUsersEnabled:
          type: boolean
          nullable: true
        useMcIdAsPrimary:
          type: boolean
          nullable: true
      additionalProperties: false
    AdGroupBudget:
      required:
        - budgetInAdvertiserCurrency
      type: object
      properties:
        allocationType:
          $ref: '#/components/schemas/AllocationType'
        budgetInAdvertiserCurrency:
          type: number
          format: double
        budgetInImpressions:
          type: integer
          format: int64
          nullable: true
        dailyTargetInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        dailyTargetInImpressions:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    AdGroupBudgetInput:
      type: object
      properties:
        allocationType:
          $ref: '#/components/schemas/AllocationType'
        budgetInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        budgetInImpressions:
          type: integer
          format: int64
          nullable: true
        dailyTargetInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        dailyTargetInImpressions:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    AdGroupChannel:
      enum:
        - Other
        - Display
        - Video
        - Audio
        - Native
        - NativeDisplay
        - NativeVideo
        - TV
        - OutOfHome
      type: string
    AdGroupComscoreSettings:
      required:
        - demographicMemberIds
        - isEnabled
        - mobileDemographicMemberIds
      type: object
      properties:
        isEnabled:
          type: boolean
        populationId:
          type: integer
          format: int32
          nullable: true
        demographicMemberIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        mobileDemographicMemberIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
      additionalProperties: false
    AdGroupComscoreSettingsInput:
      required:
        - isEnabled
      type: object
      properties:
        isEnabled:
          type: boolean
        populationId:
          type: integer
          format: int32
          nullable: true
        demographicMemberIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        mobileDemographicMemberIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
      additionalProperties: false
    AdGroupContractTargeting:
      required:
        - allowOpenMarketBiddingWhenTargetingContracts
      type: object
      properties:
        allowOpenMarketBiddingWhenTargetingContracts:
          type: boolean
      additionalProperties: false
    AdGroupContractTargetingInput:
      type: object
      properties:
        allowOpenMarketBiddingWhenTargetingContracts:
          type: boolean
          nullable: true
      additionalProperties: false
    AdGroupFlight:
      required:
        - adGroupId
        - budgetInAdvertiserCurrency
        - campaignFlightId
      type: object
      properties:
        allocationType:
          $ref: '#/components/schemas/AllocationType'
        budgetInAdvertiserCurrency:
          type: number
          format: double
        budgetInImpressions:
          type: integer
          format: int64
          nullable: true
        dailyTargetInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        dailyTargetInImpressions:
          type: integer
          format: int64
          nullable: true
        campaignFlightId:
          type: integer
          format: int64
        adGroupId:
          type: string
          nullable: true
      additionalProperties: false
    AdGroupFlightInput:
      type: object
      properties:
        allocationType:
          $ref: '#/components/schemas/AllocationType'
        budgetInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        budgetInImpressions:
          type: integer
          format: int64
          nullable: true
        dailyTargetInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        dailyTargetInImpressions:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    AdGroupFunnelLocation:
      enum:
        - None
        - Awareness
        - Consideration
        - Conversion
      type: string
    AdGroupKoaOptimizationSettings:
      type: object
      properties:
        areFutureKoaFeaturesEnabled:
          type: boolean
        predictiveClearingEnabled:
          type: boolean
      additionalProperties: false
    AdGroupKoaOptimizationSettingsInput:
      type: object
      properties:
        areFutureKoaFeaturesEnabled:
          type: boolean
          nullable: true
        predictiveClearingEnabled:
          type: boolean
          nullable: true
      additionalProperties: false
    AdGroupNewFrequencyConfigInput:
      required:
        - counterName
      type: object
      properties:
        counterName:
          type: string
          nullable: true
        frequencyCap:
          type: integer
          format: int32
          nullable: true
        frequencyGoal:
          type: integer
          format: int32
          nullable: true
        resetIntervalInMinutes:
          type: integer
          format: int32
      additionalProperties: false
    AdGroupNielsenTrackingAttributes:
      required:
        - countries
        - endAge
        - enhancedReportingOption
        - gender
        - startAge
      type: object
      properties:
        enhancedReportingOption:
          $ref: '#/components/schemas/EnhancedNielsenReportingOptions'
        gender:
          $ref: '#/components/schemas/TargetingGender'
        startAge:
          $ref: '#/components/schemas/TargetingStartAge'
        endAge:
          $ref: '#/components/schemas/TargetingEndAge'
        countries:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    AdGroupNielsenTrackingAttributesInput:
      required:
        - countries
        - endAge
        - gender
        - startAge
      type: object
      properties:
        enhancedReportingOption:
          $ref: '#/components/schemas/EnhancedNielsenReportingOptions'
        gender:
          $ref: '#/components/schemas/TargetingGender'
        startAge:
          $ref: '#/components/schemas/TargetingStartAge'
        endAge:
          $ref: '#/components/schemas/TargetingEndAge'
        countries:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    AdGroupRoiGoal:
      type: object
      properties:
        maximizeReach:
          type: boolean
          nullable: true
        maximizeLtvIncrementalReach:
          type: boolean
          nullable: true
        cpcInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        ctrInPercent:
          type: number
          format: double
          nullable: true
        nielsenOTPInPercent:
          type: number
          format: double
          nullable: true
        cpaInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        returnOnAdSpendPercent:
          type: number
          format: double
          nullable: true
        vcrInPercent:
          type: number
          format: double
          nullable: true
        viewabilityInPercent:
          type: number
          format: double
          nullable: true
        vcpmInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        cpcvInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        miaozhenOTPInPercent:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    AdGroupRoiGoalInput:
      type: object
      properties:
        maximizeReach:
          type: boolean
          nullable: true
        maximizeLtvIncrementalReach:
          type: boolean
          nullable: true
        cpcInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        ctrInPercent:
          type: number
          format: double
          nullable: true
        nielsenOTPInPercent:
          type: number
          format: double
          nullable: true
        cpaInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        returnOnAdSpendPercent:
          type: number
          format: double
          nullable: true
        vcrInPercent:
          type: number
          format: double
          nullable: true
        viewabilityInPercent:
          type: number
          format: double
          nullable: true
        vcpmInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        cpcvInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        miaozhenOTPInPercent:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    AdGroupWorkflow:
      required:
        - associatedBidLists
        - budget
        - campaignId
        - channel
        - comscoreSettings
        - contractTargeting
        - creativeIds
        - dimensionalBiddingAutoOptimizationSettings
        - flights
        - funnelLocation
        - id
        - isEnabled
        - isUseClicksAsConversionsEnabled
        - isUseSecondaryConversionsEnabled
        - name
        - roiGoal
      type: object
      properties:
        id:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        campaignId:
          minLength: 1
          type: string
        isEnabled:
          type: boolean
        description:
          type: string
          nullable: true
        programmaticGuaranteedPrivateContractId:
          type: string
          nullable: true
        channel:
          $ref: '#/components/schemas/AdGroupChannel'
        funnelLocation:
          $ref: '#/components/schemas/AdGroupFunnelLocation'
        budget:
          $ref: '#/components/schemas/AdGroupBudget'
        baseBidCpmInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        maxBidCpmInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        audienceTargeting:
          $ref: '#/components/schemas/AdGroupAudienceTargeting'
        roiGoal:
          $ref: '#/components/schemas/AdGroupRoiGoal'
        creativeIds:
          type: array
          items:
            type: string
          nullable: true
        associatedBidLists:
          type: array
          items:
            $ref: '#/components/schemas/AdGroupAssociateBidList'
          nullable: true
        flights:
          type: array
          items:
            $ref: '#/components/schemas/AdGroupFlight'
          nullable: true
        koaOptimizationSettings:
          $ref: '#/components/schemas/AdGroupKoaOptimizationSettings'
        comscoreSettings:
          $ref: '#/components/schemas/AdGroupComscoreSettings'
        contractTargeting:
          $ref: '#/components/schemas/AdGroupContractTargeting'
        dimensionalBiddingAutoOptimizationSettings:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/DimensionalBiddingDimensions'
          nullable: true
        isUseClicksAsConversionsEnabled:
          type: boolean
        isUseSecondaryConversionsEnabled:
          type: boolean
        nielsenTrackingAttributes:
          $ref: '#/components/schemas/AdGroupNielsenTrackingAttributes'
      additionalProperties: false
    AllocationType:
      enum:
        - Minimum
        - Maximum
        - Fixed
      type: string
    BudgetWorkflow:
      required:
        - budgetInAdvertiserCurrency
      type: object
      properties:
        pacingMode:
          $ref: '#/components/schemas/CampaignPacingMode'
        budgetInAdvertiserCurrency:
          type: number
          format: double
        budgetInImpressions:
          type: integer
          format: int64
          nullable: true
        dailyTargetInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        dailyTargetInImpressions:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    CampaignChannelType:
      enum:
        - None
        - Display
        - Video
        - Audio
        - TV
        - NativeDisplay
        - NativeVideo
        - DOOH
      type: string
    CampaignConversionReportingColumnWorkflow:
      required:
        - includeInCustomCPA
        - reportingColumnId
        - trackingTagId
      type: object
      properties:
        trackingTagId:
          minLength: 1
          type: string
        includeInCustomCPA:
          type: boolean
        reportingColumnId:
          type: integer
          format: int32
        roasConfig:
          $ref: '#/components/schemas/CustomROASConfig'
        weight:
          type: number
          format: double
          nullable: true
        crossDeviceAttributionModelId:
          type: string
          nullable: true
      additionalProperties: false
    CampaignCreateROIGoalWorkflow:
      type: object
      properties:
        maximizeReach:
          type: boolean
          nullable: true
        maximizeLtvIncrementalReach:
          type: boolean
          nullable: true
        cpcInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        ctrInPercent:
          type: number
          format: double
          nullable: true
        nielsenOTPInPercent:
          type: number
          format: double
          nullable: true
        cpaInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        returnOnAdSpendPercent:
          type: number
          format: double
          nullable: true
        vcrInPercent:
          type: number
          format: double
          nullable: true
        viewabilityInPercent:
          type: number
          format: double
          nullable: true
        vcpmInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        cpcvInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        miaozhenOTPInPercent:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    CampaignCreateWorkflowAdvancedInput:
      type: object
      properties:
        flights:
          type: array
          items:
            $ref: '#/components/schemas/CampaignFlightWorkflowInput'
          nullable: true
        purchaseOrderNumber:
          type: string
          nullable: true
      additionalProperties: false
    CampaignCreateWorkflowInput:
      required:
        - campaignCreateWorkflowPrimaryInput
      type: object
      properties:
        campaignCreateWorkflowPrimaryInput:
          $ref: '#/components/schemas/CampaignCreateWorkflowPrimaryInput'
        campaignCreateAdvancedInput:
          $ref: '#/components/schemas/CampaignCreateWorkflowAdvancedInput'
        adGroups:
          type: array
          items:
            $ref: '#/components/schemas/CampaignCreationAdGroupInput'
          nullable: true
        validationOnly:
          type: boolean
          nullable: true
      additionalProperties: false
    CampaignCreateWorkflowPrimaryInput:
      required:
        - advertiserId
        - name
        - primaryChannel
        - primaryGoal
      type: object
      properties:
        advertiserId:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
        description:
          type: string
          nullable: true
        timeZone:
          type: string
          nullable: true
        customCPAClickWeight:
          type: number
          format: double
          nullable: true
        customCPAViewthroughWeight:
          type: number
          format: double
          nullable: true
        customCPAType:
          $ref: '#/components/schemas/CustomCPAType'
        impressionsOnlyBudgetingCpm:
          type: number
          format: double
          nullable: true
        primaryChannel:
          $ref: '#/components/schemas/CampaignChannelType'
        budget:
          $ref: '#/components/schemas/BudgetWorkflow'
        primaryGoal:
          $ref: '#/components/schemas/CampaignCreateROIGoalWorkflow'
        startDateInUtc:
          type: string
          format: date-time
          nullable: true
        endDateInUtc:
          type: string
          format: date-time
          nullable: true
        seedId:
          type: string
          nullable: true
        campaignConversionReportingColumns:
          type: array
          items:
            $ref: '#/components/schemas/CampaignConversionReportingColumnWorkflow'
          nullable: true
      additionalProperties: false
    CampaignCreationAdGroupInput:
      required:
        - channel
        - funnelLocation
        - name
      type: object
      properties:
        name:
          minLength: 1
          type: string
        isEnabled:
          type: boolean
          nullable: true
        description:
          type: string
          nullable: true
        programmaticGuaranteedPrivateContractId:
          type: string
          nullable: true
        channel:
          $ref: '#/components/schemas/AdGroupChannel'
        funnelLocation:
          $ref: '#/components/schemas/AdGroupFunnelLocation'
        budget:
          $ref: '#/components/schemas/AdGroupBudgetInput'
        baseBidCpmInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        maxBidCpmInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        audienceTargeting:
          $ref: '#/components/schemas/AdGroupAudienceTargetingInput'
        roiGoal:
          $ref: '#/components/schemas/AdGroupRoiGoalInput'
        creativeIds:
          type: array
          items:
            type: string
          nullable: true
        associatedBidLists:
          type: array
          items:
            $ref: '#/components/schemas/AdGroupAssociateBidListInput'
          nullable: true
        advancedSettings:
          $ref: '#/components/schemas/AdGroupAdvancedSettingsInput'
      additionalProperties: false
    CampaignFlightWorkflow:
      required:
        - budgetInAdvertiserCurrency
        - id
        - startDateInclusiveUTC
      type: object
      properties:
        id:
          type: string
          nullable: true
        startDateInclusiveUTC:
          type: string
          format: date-time
        endDateExclusiveUTC:
          type: string
          format: date-time
          nullable: true
        budgetInAdvertiserCurrency:
          type: number
          format: double
        budgetInImpressions:
          type: integer
          format: int64
          nullable: true
        dailyTargetInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        dailyTargetInImpressions:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    CampaignFlightWorkflowInput:
      required:
        - budgetInAdvertiserCurrency
        - startDateInclusiveUTC
      type: object
      properties:
        startDateInclusiveUTC:
          type: string
          format: date-time
        endDateExclusiveUTC:
          type: string
          format: date-time
          nullable: true
        budgetInAdvertiserCurrency:
          type: number
          format: double
        budgetInImpressions:
          type: integer
          format: int64
          nullable: true
        dailyTargetInAdvertiserCurrency:
          type: number
          format: double
          nullable: true
        dailyTargetInImpressions:
          type: integer
          format: int64
          nullable: true
      additionalProperties: false
    CampaignPacingMode:
      enum:
        - PaceAhead
        - PaceEvenly
        - PaceToDailyCap
        - PaceAsSoonAsPossible
      type: string
    CampaignPayload:
      type: object
      properties:
        campaign:
          $ref: '#/components/schemas/CampaignWorkflow'
        adGroups:
          type: array
          items:
            $ref: '#/components/schemas/AdGroupWorkflow'
          nullable: true
        userErrors:
          type: array
          items:
            $ref: '#/components/schemas/UserError'
          nullable: true
      additionalProperties: false
    CampaignVersionWorkflow:
      required:
        - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
        version:
          type: string
          nullable: true
        budgetingVersion:
          type: string
          nullable: true
      additionalProperties: false
    CampaignWorkflow:
      required:
        - id
      type: object
      properties:
        id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        startDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        timeZone:
          type: string
          nullable: true
        customCPAClickWeight:
          type: number
          format: double
          nullable: true
        customCPAViewthroughWeight:
          type: number
          format: double
          nullable: true
        customCPAType:
          $ref: '#/components/schemas/CustomCPAType'
        impressionsOnlyBudgetingCpm:
          type: number
          format: double
          nullable: true
        primaryChannel:
          $ref: '#/components/schemas/CampaignChannelType'
        primaryGoal:
          type: string
          nullable: true
        seedId:
          type: string
          nullable: true
        conversionReportingColumnsCount:
          type: integer
          format: int32
          nullable: true
        flights:
          type: array
          items:
            $ref: '#/components/schemas/CampaignFlightWorkflow'
          nullable: true
      additionalProperties: false
    ContextualDataInput:
      type: object
      properties:
        keyphrases:
          type: array
          items:
            type: string
          description: Keyphrases
          nullable: true
        urls:
          type: array
          items:
            type: string
          description: Urls
          nullable: true
      additionalProperties: false
    CustomCPAType:
      enum:
        - Disabled
        - PixelWeighting
        - ClickViewthroughWeighting
      type: string
    CustomROASConfig:
      required:
        - includeInCustomROAS
      type: object
      properties:
        includeInCustomROAS:
          type: boolean
        customROASWeight:
          type: number
          format: double
          nullable: true
        customROASClickWeight:
          type: number
          format: double
          nullable: true
        customROASViewthroughWeight:
          type: number
          format: double
          nullable: true
      additionalProperties: false
    DimensionalBiddingDimensions:
      enum:
        - UnknownDimension
        - HasAdFormatId
        - HasDomainFragmentId
        - HasUniversalCategoryTaxonomyId
        - HasPlacementPositionRelativeToFoldId
        - HasAdvertiserTargetingDataId
        - HasBrowserId
        - HasCarrierId
        - HasDeviceModelId
        - HasDeviceTypeId
        - HasGeoSegmentId
        - HasHourOfWeek
        - HasLanguageId
        - HasOsId
        - HasPrivateContractId
        - HasRecencyWindowInMinutes
        - HasRenderingContextId
        - HasFactualGeostoreTargetingDataId
        - HasSupplyVendorId
        - HasTemperatureBucketInCelsius
        - HasThirdPartyData
        - HasAdsTxtSellerTypeId
        - HasVideoMutedStateId
        - HasVideoPlaybackTypeId
        - HasVideoPlayerSizeId
        - HasVideoQualityId
        - HasVideoSkippabilityId
        - HasFactualProximityDataId
        - HasImpressionPlacementId
        - HasVideoTruthScoreRange
        - HasVideoViewabilityScoreRange
        - HasDisplayViewabilityScoreRange
        - HasPeer39LanguageId
        - HasIntegralContextualCategoryId
        - HasPeer39ContextualCategoryId
        - HasDoubleVerifyContextualCategoryId
        - HasIntegralBrandSafetyCategoryId
        - HasIntegralVideoBrandSafetyCategoryId
        - HasPeer39BrandSafetyCategoryId
        - HasDoubleVerifyBrandSafetyCategoryId
        - HasIntegralPageQualityCategoryId
        - HasIntegralVideoPageQualityCategoryId
        - HasPeer39PageQualityCategoryId
        - HasDoubleVerifyBotAvoidanceCategoryId
        - HasContextualAppCategoryId
        - HasPublisherId
        - HasIntegralViewabilityCategoryId
        - HasIntegralVideoViewabilityCategoryId
        - HasDoubleVerifyViewabilityCategoryId
        - HasDoubleVerifyVideoViewabilityCategoryId
        - HasFrequencyAdjustmentId
        - HasPeer39ViewabilityCategoryId
        - HasVideoCompletionRateScoreRange
        - HasInternetConnectionTypeId
        - HasAdBugPageQualityCategoryId
        - HasAdBugVideoPageQualityCategoryId
        - HasRTBAsiaPageQualityCategoryId
        - HasRTBAsiaVideoPageQualityCategoryId
        - HasTTDContextualCategoryId
        - HasSupplyPathOptimizationListId
        - HasMarketTypeId
        - HasContextualSupplyVendorGenreId
        - HasContextualSupplyVendorCategoryId
        - HasWeatherConditionId
        - HasFrequencyV2AdjustmentId
        - HasSemasioContextualCategoryId
        - HasSellerId
        - HasDigitalOutOfHomeVenueTypeId
        - HasNativePlacementTypeId
        - HasTTDNativeContextTypeId
        - HasDomainClassId
        - HasGeofenceThirdPartyDataAndBrand
        - HasPreBidContextualCategoryId
        - HasMiaozhenPageQualityCategoryId
        - HasMiaozhenVideoPageQualityCategoryId
        - HasTencentPageQualityCategoryId
        - HasContentGenre
        - HasContentLivestream
        - HasContentProductionQuality
        - HasContentRating
        - HasContentDuration
        - HasTVQualityIndexRange
        - HasAtmosphericCondition
        - HasMarketplaceId
        - HasAudienceReachPercentageTierId
        - HasAdLoadCategory
        - HasFullReferrerUrl
        - HasLikelyRefreshRate
        - HasContentTransparency
        - HasIdiosyncraticSegmentId
      type: string
    EnhancedNielsenReportingOptions:
      enum:
        - None
        - Audience
        - Site
      type: string
    GraphQLQueryInput:
      required:
        - query
      type: object
      properties:
        query:
          minLength: 1
          type: string
          description: The GraphQL query to execute.
        variables:
          type: object
          description: Variables to substitute into the query.
          nullable: true
      additionalProperties: false
      description: Required fields for executing a GraphQL query
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        status:
          type: integer
          format: int32
          nullable: true
        detail:
          type: string
          nullable: true
        instance:
          type: string
          nullable: true
      additionalProperties:
        type: object
    Seed:
      required:
        - advertiserId
        - id
        - seedName
      type: object
      properties:
        id:
          type: integer
          description: Seed ID
          format: int32
        seedName:
          minLength: 1
          type: string
          description: The name of this seed
        advertiserId:
          minLength: 1
          type: string
          description: The platform ID of the advertiser that owns this Campaign.
      additionalProperties: false
      description: Seed entity
    SeedCreationInput:
      required:
        - advertiserId
        - isDefault
        - seedName
        - targetingData
      type: object
      properties:
        advertiserId:
          minLength: 1
          type: string
          description: The platform ID of the advertiser that owns this Seed.
        seedName:
          minLength: 1
          type: string
          description: The name of the Seed.
        isDefault:
          type: boolean
          description: Whether this is the default seed for this advertiser
        targetingData:
          $ref: '#/components/schemas/SeedTargetingDataInput'
      additionalProperties: false
      description: Required fields for creating a new seed
    SeedTargetingDataInput:
      type: object
      properties:
        firstPartyDataInclusionIds:
          type: array
          items:
            type: integer
            format: int64
          description: These are the AdvertiserTargetingDataIds for first party data.
          nullable: true
        retailDataInclusion:
          type: array
          items:
            $ref: '#/components/schemas/ThirdPartyDataInput'
          description: RetailDataInclusion
          nullable: true
        thirdPartyDataInclusion:
          type: array
          items:
            $ref: '#/components/schemas/ThirdPartyDataInput'
          description: ThirdPartyDataInclusion
          nullable: true
        contextualInclusion:
          $ref: '#/components/schemas/ContextualDataInput'
        countryFilterIds:
          type: array
          items:
            type: string
          description: CountryFilterIds
          nullable: true
      additionalProperties: false
    TargetingEndAge:
      enum:
        - Seventeen
        - Twenty
        - TwentyFour
        - TwentyNine
        - ThirtyFour
        - ThirtyNine
        - FortyFour
        - FortyNine
        - FiftyFour
        - SixtyFour
        - SixtyFourPlus
      type: string
    TargetingGender:
      enum:
        - Male
        - Female
        - Both
      type: string
    TargetingStartAge:
      enum:
        - Two
        - Thirteen
        - Eighteen
        - TwentyOne
        - TwentyFive
        - Thirty
        - ThirtyFive
        - Forty
        - FortyFive
        - Fifty
        - FiftyFive
        - SixtyFive
      type: string
    ThirdPartyDataInput:
      required:
        - thirdPartyDataBrandId
      type: object
      properties:
        thirdPartyDataId:
          type: integer
          description: ThirdPartyDataId
          format: int64
          nullable: true
        thirdPartyDataBrandId:
          minLength: 1
          type: string
          description: ThirdPartyDataBrandId
      additionalProperties: false
    UserError:
      required:
        - field
        - message
      type: object
      properties:
        message:
          type: string
          nullable: true
        field:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
  securitySchemes:
    TTD-Auth:
      type: apiKey
      description: TTD security token
      name: TTD-Auth
      in: header
security:
  - TTD-Auth: [ ]